@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;



}
  ::-webkit-scrollbar {
    display: none;
  }
.nav{
    width: 100%;
    height: 60px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    font-family: "Poppins", sans-serif;
    box-shadow: 0px 12px 12px 5px #00000040;

}
.navLogo{
    width: 4%;
    height: 30px;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: .2s;
}

.navLogo:hover{
    transform: scale(1.1);
    transition: .2s;
}
.title{
    color: #454545;
    letter-spacing: 5px;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);    
    pointer-events: none;
    margin-left: 25px;

}
.lastnav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.home{
    font-size: 26px;
    opacity: 50%;
    transition: .2s;
    cursor: pointer;
   
}
.home:hover{
    transform: scale(1.1);
    transition: .2s;
}
.slide{
    font-size: 32px;
    cursor: pointer;
    opacity: 60%;
    transition: .2s;
}
.slide:hover{
    transform: scale(1.1);
    transition: .2s;
}
.slidebar{
    padding-top: 80px;
    position: absolute;
    height: 120vh;
    width: 28%;
    background-color: #D9D9D9;
    top: 0px;
    right: 0px;
    box-shadow: 0px 10px 10px 5px #00000040;
    transition: transform .2s ease-in-out;
    display: none;
    z-index: 2;
    

}
.cut{
    width: 100%;
    padding: 30px 25px;
    
}
.cutimg{
    margin-top: 30px;
    margin-left: -170px;
    width: 30px;
    cursor: pointer;
    box-shadow: 0px 5px 5px 0px #00000040;
    opacity: 80%;
    border-radius: 5px;
    transition: .2s;
}
.cutimg:hover{
    transform: scale(1.1);
    transition: .2s;
}
.more{
    font-size: 28px;
    font-weight: 600;
    color: #454545;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);    
    pointer-events: none;
    margin-bottom: 40px;
}
.links{
    height: 60px;
    width: 100%;
    list-style: none;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
}
.links:hover{
    background-color: gray;
    transition: .1s;
}
.links a{
    text-decoration: none;
    color: #454545;
    font-weight: 600;
    opacity: 90%;
}
.copy{
    color: #454545;
    opacity: 90%;
    font-size: 12px;
    text-align: center;
    margin-top: 70px;
    pointer-events: none;
}




/* rang css */


.range{
    position: absolute;
    top: 600px;
    left: 1100px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.firstBJP{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.firstBJP div{
    height: 15px;
    width: 15px;
    background-color: #f97d09;
    border: solid 1px black;
}
.range h1{
    font-size: 11px;
    color: black;
    font-weight: 400;
    pointer-events: none;
}
.secondCONG{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.secondCONG div{
    height: 15px;
    width: 15px;
    background-color: #309cf6;
    border: solid 1px black;
}
.thirdOTHER{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.thirdOTHER div{
    height: 15px;
    width: 15px;
    background-color: #166A2F;
    border: solid 1px black;
}
.fourthUT{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.fourthUT div{
    height: 15px;
    width: 15px;
    background-color: gray;
    border: solid 1px black;
}




/* conatiner */

.container{
    background: linear-gradient(to bottom, #8399A2, #EEF2F3);
    height: calc(115vh - 60px);
    width: 100%;
    padding: 30px;
}



/* tabs css */
.tabBox{
    display: flex;
    margin-left: 700px;
    width: 45%;
    height: 7%;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0px 5px 5px 0px #00000040;
    position: sticky;
    top: 25px;
    color: rgb(46, 46, 46);
}

.tabBtn{
    border: none;
    outline: none;
}
.tabBox .tabBtn.active{
    background-color: royalblue;
    color: white;
    font-weight: 700;
   transition: .1s ease-in-out;
}
.bjp{
    width: 33.34%;
    background-color: #f97d09;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
 
}

.congress{
    width: 33.34%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;

}
.others{
    width: 33.34%;
    background-color: #166A2F;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;

}




/* content page */


.contentBox .content{
    display: none;
}

.contentBox .content.active{
    display: block;
}

.contentBox .homeContent.active {
    display: block;
  }

.contentBox{
    display: flex;
}

  /* home page content */

  
.homeContent{
    width: 40%;
    margin:auto ;
    display: flex;

}

.homeContent path{
    fill : white;
    stroke: rgb(20, 20, 20);
    width: 4px;
}


/* .content page */


.content{
    width: 40%;
    margin:auto ;
    display: flex;
    
}

.content path{
    fill : white;
    stroke: rgb(20, 20, 20);
    width: 4px;
}
.bjprange{
    top: -450px;
    left: 650px;
}
            /* bjp all page color */

#ArunachalALL{
    fill: #f97d09;
    cursor: pointer;
}
#AssamALL{
    fill: #f97d09;
    cursor: pointer;

}
#GoaALL{
    fill: #f97d09;
    cursor: pointer;


}
#GujaratALL{
    fill: #f97d09;
    cursor: pointer;

}
#HaryanaALL{
    fill: #f97d09;
    cursor: pointer;

}
#MeghalayaALL{
    fill: #f97d09;
        cursor: pointer;

}
#MadhyaALL{
    fill: #f97d09;
        cursor: pointer;

}
#ManipurALL{
    fill: #f97d09;
        cursor: pointer;

}
#RajasthanALL{
    fill: #f97d09;
        cursor: pointer;

}
#TripuraALL{
    fill: #f97d09;
        cursor: pointer;

}
#UttarALL{
    fill: #f97d09;
        cursor: pointer;

}
#UttarakhandALL{
    fill: #f97d09;
        cursor: pointer;

}
#NagalandALL{
    fill: #f97d09;
        cursor: pointer;

}
#MaharashtraALL{
    fill: #f97d09;
        cursor: pointer;

}

#PuducherryALL{
    fill: #f97d09;
        cursor: pointer;

}
#SikkimALL{
    fill: #f97d09;
        cursor: pointer;

}
#ChhattisgarhALL{
    fill: #f97d09;
        cursor: pointer;

}
#BiharALL{
    fill: #f97d09;
        cursor: pointer;

}


/* bjp page color */
#bjpBlank{
    fill: transparent;
}

                  /* congres all party */
#HimachalALL{
    fill:#309cf6 ;
        cursor: pointer;

}
#KarnatakaALL{
    fill: #309cf6;
        cursor: pointer;

}
#TelanganaALL{
    fill: #309cf6;
        cursor: pointer;

}


/* congress page color */

#congressColor{
    fill: #309cf6;
}
#congressBlank{
    fill: transparent;
}

                         /* others all party */

#DelhiALL{
    fill: #166A2F;
        cursor: pointer;

}
#TamilALL{
    fill: #166A2F;
        cursor: pointer;

}
#KeralaALL{
    fill: #166A2F;
        cursor: pointer;

}
#AndhraALL{
    fill: #166A2F;
        cursor: pointer;

}
#WestALL{
    fill: #166A2F;
        cursor: pointer;

}
#PunjabALL{
    fill: #166A2F;
        cursor: pointer;

}
#MizoramALL{
    fill: #166A2F;
        cursor: pointer;

}
#JharkhandALL{
    fill: #166A2F;
        cursor: pointer;

}
#OdishaALL{
    fill: #166A2F;
        cursor: pointer;

}

/* others page color */

#othersBlank{
    fill: transparent;
}
                                 /* UT ALL States party */

#DamanALL{
    fill: #808080;
        cursor: pointer;

}
#DadraALL{
    fill: #808080;
        cursor: pointer;

}
#JammuALL{
    fill: #808080;
        cursor: pointer;

}
#LakshadweepALL{
    fill: #808080;
        cursor: pointer;

}
#AndamanALL{
    fill: #808080;
        cursor: pointer;

}










.popup{
    position: absolute;
    left: 8%;
    top: 45%;
    height: 250px;
    width: 220px;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
    box-shadow: 0px 8px 8px 0px #00000040;

}

.inner-Details{
    height: 50px;
    width: 100%;
    color: white;
    font-size: 16px;
    padding: 0px 20px ;
    display: flex;
    align-items: center;
    justify-content: start;
    
}
.cut{
    position: absolute;
    width: 30px;
    left: 180px;
    top: -45px;

}
#cut1{
    width: 30px;
    cursor: pointer;
}
#state{
    background-color: black;
    color: white;
    font-weight: 700;
    pointer-events: none;
}
#seats{
    background-color: #343434;
    color: white;
    font-size: 12px;
    font-weight: 500;
    pointer-events: none;

}
#mla{
    background-color: #666666;
    color: white;
    font-size: 13px;
    font-weight: 500;
    pointer-events: none;

}
#mp{
    background-color: #939393;
    color: white;
    font-size: 13px;
    font-weight: 500;
    pointer-events: none;

}
#cm-name{
    background-color: #FF9900;
    color: white;
    font-size: 13px;
    font-weight: 500;
    pointer-events: none;

}




.popupright{
    position: absolute;
    top: 45%;
    right: 8%;
    display: block;
    height: 250px;
    width: 220px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 8px 8px 0px #00000040;
    display: none;
}



.inner-Details-right{
    height: 50px;
    width: 100%;
    color: white;
    font-size: 16px;
    padding: 0px 20px ;
    display: flex;
    align-items: center;
    justify-content: start;
    
}
.cutright{
    position: absolute;
    width: 30px;
    left: 203px;
    top: -18px;

}
#cut2{
    width: 30px;
    cursor: pointer;
}
#stateright{
    background-color: black;
    color: white;
    font-weight: 700;
    pointer-events: none;
}
#seatsright{
    background-color: #343434;
    color: white;
    font-size: 12px;
    font-weight: 500;
    pointer-events: none;

}
#mlaright{
    background-color: #666666;
    color: white;
    font-size: 13px;
    font-weight: 500;
    pointer-events: none;

}
#mpright{
    background-color: #939393;
    color: white;
    font-size: 13px;
    font-weight: 500;
    pointer-events: none;

}
#cm-nameright{
    background-color: #FF9900;
    color: white;
    font-size: 13px;
    font-weight: 500;
    pointer-events: none;

}


